$breakPoint: 560px;
$title__font: 'Quicksand', sans-serif;
$title__backgroundColor: #F78888;
$option__exploreColor: #F3D250;
$option__ratingColor: #90CCF4;
$option__radius: #5DA2D5;
$panel__backgroundColor: #ECECEC;
