@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.gm-style-iw {
	width: 300px !important;
	height: 300px;
	border-style: solid;
    border-color: $title__backgroundColor;
    border-radius: 10px;
    background-color: $panel__backgroundColor;	
    box-shadow: 0 10px 6px -6px #777777;
}

#infoWindow {
	height: 300px;
	border-radius: 10px;
	h3 {
		margin: 0 5px 5px 10px;
	}
}

#details {
	margin-left: 10px;
	text-decoration: none !important;
	color: $option__radius;
	font: italic bold 12px $title__font;
}

#photo {
	width: 300px;
	height: 150px;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
	display: block;
}

#title {
	background-color: $option__exploreColor;
	font: bold 6vw $title__font;
	text-align: center;
}

#rating {
	background-color: red;
	padding: 2px 10px;
	margin-bottom: 5px;
	span {
		color: $option__exploreColor;
		font: italic bold 16px $title__font;
	}
}

#info {
	margin: 0 10px;
	h3 {
		margin: 0;
	}
}

#getDirection {
	margin: 5px;
	border-radius: 5px;
	background-color: $option__exploreColor;
	font: bold 16px $title__font;
}

#pano {
	width: 300px;
	height: 100px;
	border-radius: 0 0 8px 8px;
}   

/* ====================== Horizontal Views ====================== */

@media screen and (min-width: $breakPoint) {
	.gm-style-iw {
		width: 316px !important;
	}
	#pano {
		border-radius: 0;
	}  	
	#title {
		font-size: 24px;
	}	
}