@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@mixin input__box($width) {
	box-sizing: border-box;
	height: 40px;
	width: $width;
	font: bold 16px $title__font;
	padding-left: 10px;
}
@mixin desktop__box($width, $color) {
	box-sizing: border-box;
	height: 10%;
	width: $width;
	border-style: solid;
    border-color: $color;	
	margin: 0 auto 4% 5%;
	font: bold 2vw $title__font;
	padding-left: 5px;
	border-radius: 15px;
	border-width: 3px;
}
@mixin button($width, $color){
	box-sizing: border-box;
	height: 10%;
	width: $width;
	color: white;
	font: bold 2vw $title__font;
	float: right;
	border-radius: 15px;
	background-color: $color;
	box-shadow: 0 10px 6px -6px #777777;
	text-shadow: 1px 2px #777777;		
	margin: 0 5% 20px auto;		
}

.desktop__headers {
	display: none;
}

.panel {
	width: 100%;
	background-color: $panel__backgroundColor;
	text-align: center;
	height: 140px;
}
#forms {
	display: flex;
}
form {
	width: 50%;
}
#searchRestaurant {
	@include input__box(80%);
}
.mobileButton {
	@include input__box(20%);
	padding-left: 5px;
}

#myLocation {
	@include input__box(80%);
}

#selectRating {
	@include input__box(16%)
	float: left;
}

#max-duration, #transit {
	@include input__box(22%)
	float: left;
}

nav {
	@include input__box(40%)
	float: left;
	padding-left: 0; 
	select {
		@include input__box(100%)
	}
	ul {
		display: none;
	}
}

#openNow {
	padding-left: 0;
	font-size: 12px;
	margin: 10px 0;
}

.desktopButtonTitle {
	display: none;
}

.title {
	box-sizing: border-box;
	font-family: $title__font;
	width: 100%;
	background-color: $title__backgroundColor;
	color: white;
	margin: 0 auto;
	padding: 10px 50px;
	font-size: 32px;
}
nav {
	ul {
		height:200px;
		width:18%;
		overflow:hidden;
		overflow-y:scroll;
	}
}

/* ====================== Horizontal Views ====================== */

@media screen and (min-width: $breakPoint) {
	.desktopButtonTitle {
		display: block;
	}

	.mobileButtonTitle {
		display: none;
	}

	.desktop__headers {
		text-align: left;
		box-sizing: border-box;
		padding-left: 5%; 
		display: block;
		width: 100%;
		font: 900 2vw $title__font;
		margin-bottom: 5px;
	}

	.panel {
		width: 35%;
		height: 100vh;
	}

	.title {
		font-size: 3vw;
	}

 	#myLocation {
		@include desktop__box(60%, $title__backgroundColor);
		float:left;	
	}

	#locationSubmit {
		@include button(25%, $title__backgroundColor);
		margin-bottom: 10%;		
	}

	#searchSubmit {
		@include button(25%, $option__exploreColor);
		margin-bottom: 10%;
	}

	#searchRestaurant {
		float: left;
		@include desktop__box(60%, $option__exploreColor);
	}
	
	#selectRating {
		@include desktop__box(22%, $option__radius);
		height: 45px;
		margin: 0 5% 4% 5%;
	}

	#transit, #max-duration {
		@include desktop__box(29%, $option__radius);
		height: 45px;
		margin: 0 5% 4% 0;
	}
	#forms {
		display: block;
	}
	form {
		width: 100%;
	}
	nav {
		box-sizing: border-box;
		width: 80%;
		margin: 0 15% 0 5%; 
		height: 18%;
		select {
			display: none;
		}
		ul {
			display: block;
			@include desktop__box(100%, $option__radius);
			margin-left: 0;
			height: 100%;
			li {
				text-align: left;
				padding-left: 5px;
				border-radius: 5px;
				&:hover {
					background-color: $option__ratingColor;
				}
			}
		}
	}
}