@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.panel {
	width: 100%;
	background-color: $panel__backgroundColor;
	text-align: center;
}

.title {
	box-sizing: border-box;
	font-family: $title__font;
	width: 100%;
	background-color: $title__backgroundColor;
	color: white;
	margin: 0 auto;
	padding: 10px 50px;
	font-size: 48px;
}

/* ====================== Horizontal Views ====================== */

@media screen and (min-width: $breakPoint) {
	.panel {
		width: 35%;
		height: 100vh;
	}
	.title {
		font-size: 3vw;
	}
}